@font-face {
  font-family: Inter;
  src: url(../assets/Inter-Bold.ttf);
  font-weight: 700;
}

* {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.5;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: white;
  overflow-y: auto;
}

div.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

div.content {
  width: 680px;
  padding-left: 20px;
  box-sizing: border-box;
  padding-bottom: 20px;
}

a.header {
  text-decoration: none;
}

h1 {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0px;
  /* position: sticky;
  top: 0; */
  font-weight: 600;
  font-family: Inter;
}

div.toc a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.image-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.sketch {
  height: 500px;
}

div.storyboard {
  height: 1000px;
}

div.persona-image {
  height: 700px;
  margin-bottom: 30px;
}

div.image-wrapper > img {
  max-height: 100%;
  max-width: 100%;
}

p, li {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
}

li {
  margin-bottom: 10px;
}

.carousel {
  width: 100%;
}

.interview {
  width: 100%;
  display: flex;
  align-items: center;
}

.interview span.number {
  width: 300px;
  font-weight: 700;
  font-size: 200px;
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.persona {
  width: 100%;
}

.outlined {
  border: 1px solid gray;
  box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
}

.principle {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2vh;
}

.principle>span.number {
  width: 200px;
  font-weight: 700;
  font-size: 300px;
  text-align: center;
}

.principle>.full-width-text {
  width: 100%;
  margin: 3vh 0 2vh;
}

.principle>div {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.carousel>.item {
  display: none
}

.carousel>.item.first {
  display: flex;
}

nav {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  background-image: url('../assets/bluebar.png');
  background-size: contain;
  background-repeat: repeat-x;
}

nav > a {
  display: inline-block;
  height: 50px;
  outline: none;
}

nav > a > img {
  height: 100%;
}